# Drizzle
DATABASE_URL=local.db

ORIGIN=""

# Firebase Web SDK (public client configuration)
PUBLIC_FIREBASE_API_KEY=""
PUBLIC_FIREBASE_AUTH_DOMAIN="rehear-7b528.firebaseapp.com"
PUBLIC_FIREBASE_DATABASE_URL="https://rehear-7b528-default-rtdb.firebaseio.com"
PUBLIC_FIREBASE_PROJECT_ID="rehear-7b528"
PUBLIC_FIREBASE_STORAGE_BUCKET="rehear-7b528.firebasestorage.app"
PUBLIC_FIREBASE_MESSAGING_SENDER_ID="419516463591"
PUBLIC_FIREBASE_APP_ID="1:419516463591:web:e326271d8937fd9aee2542"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
