.env
*.env

__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

node_modules/
dist/
build/
.svelte-kit/

venv/
.venv/

*.db
*.sqlite
*.sqlite3

storage/
sushi-fast/storage/
evc_logs/
evc_uploads/
sushi-fast/evc_logs/
sushi-fast/evc_uploads/

*.mp3
*.m4a
*.wav
*.pdf
*:Zone.Identifier

sushi-fast/Legendaryvowels_backup_*/
