.env
*.env

__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

node_modules/
dist/
build/
.svelte-kit/

venv/
.venv/


*.sqlite
*.sqlite3

storage/
sushi-fast/storage/

*.mp3
*.m4a
*.wav
*.pdf
*:Zone.Identifier

sushi-fast/Legendaryvowels_backup_*/
